﻿/* Sticky footer styles
-------------------------------------------------- */
html {
position: relative;
min-height: 100%;
}
body {
/* Margin bottom by footer height */
margin-bottom: 60px;
padding-top: 40px;
xpadding-bottom: 10px;
}
#footer {
position: absolute;
bottom: 0;
width: 100%;
/* Set the fixed height of the footer here */
height: 60px;
background-color: #f5f5f5;
}
.text-muted {
margin: 20px 0;
}
.form-login {
max-width: 330px;
padding: 0px 15px 5px 15px;
margin: 0 auto;
}
.form-login .form-login-heading {
margin-bottom: 10px;
}
.form-login .form-control {
position: relative;
height: auto;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 10px;
font-size: 16px;
}
.form-login .form-control:focus {
z-index: 2;
}
.form-login input[type="password"] {
margin-top:5px;
margin-bottom: 5px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}