﻿<div class="row">
    <div class="col-md-2">
        <h2>Softwares</h2>
        <p class="text-primary">Blabla</p>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Manufacturer</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody data-ng-repeat="sw in softwares">
                <tr>
                    <td>{{sw.Id}}</td>
                    <td>{{sw.ManufacturerName}}</td>
                    <td>{{sw.Name}}</td>
                </tr>
                <!--<tr>
            <td>Hier sollte die software-id stehen</td>
            <td>{{sw.ManufacturerName}}</td>
            <td>{{sw.Name}}</td>
        </tr>-->
            </tbody>
        </table>
    </div>
</div>